@scope (.book-cover) {
    :scope {

        box-shadow: 0 0 var(--s-l) var(--c-rep);
        outline: var(--s-xxxs) solid var(--c-rep);

        & img {
            --w: 400px;
        }
    }

    @media only screen and (max-width: 800px) {
        :scope {
            & img {
                max-width: 100%;
            }
        }
    }
}

.color-blend {
    opacity: 0.8
}