@scope (.label) {
    :scope {
        &.Текст {
            color: var(--c-background);
            background-color: var(--c-foreground);
        }

        &.Аудио {
            color: var(--c-highlight);
            background-color: var(--c-blue);
        }

        &.PDF {
            color: var(--c-highlight);
            background-color: var(--c-red);
        }

        &.art-fourth-present {
            color: var(--c-foreground);
            background-color: var(--c-highlight);
            border: var(--s-xxxs) solid var(--c-purple);
        }
    }
}
