@scope (.label) {
    :scope {
        &.Текст {
            color: var(--c-background);
            --label-color: var(--c-foreground);
        }

        &.Аудио {
            color: var(--c-highlight);
            --label-color: var(--c-blue);
        }

        &.PDF {
            color: var(--c-highlight);
            --label-color: var(--c-red);
        }

        &.art-fourth-present {
            color: var(--c-foreground);
            --label-color: var(--c-highlight);
            border-color: var(--c-purple) !important;
        }
    }
}
