@scope (.book-cover) {
    :scope {
        & img {
            --h: 400px;
        }
    }

    @media only screen and (max-width: 800px) {
        :scope {
            & img {
                max-width: 100%;
                --h: unset;
            }
        }
    }
}