@scope (.label) {
    :scope {
        &.Текст {
            color: var(--c-background);
            background-color: var(--c-foreground);
        }

        &.Аудио {
            color: var(--c-highlight);
            background-color: var(--c-blue);
        }

        &.PDF {
            color: var(--c-highlight);
            background-color: var(--c-red);
        }
    }
}
