{{define "book-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head"}}
    <head>
        {{template "css-book"}}
    </head>
    <body>
    {{template "script-iframe-size-receive-message"}}
    {{template "svg-icons"}}
    {{template "nav"}}
    {{template "book" .}}
    <div class="footer-spacer"></div>
    {{template "footer"}}
    </body>
    </html>
{{end}}