{{define "description-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head"}}
    <head>
        {{template "css-iframe"}}
    </head>
    <body id="description">
    {{template "script-iframe-post-message"}}
    <div id="description-content">
        {{.Content}}
    </div>
    </body>
    </html>
{{end}}