{{define "downloads-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head"}}
    <head>
        {{template "css-downloads"}}
    </head>
    <body id="downloads-content">
    {{template "downloads" .}}
    </body>
    </html>
{{end}}